HELP.md

.gradle
*.war
ngrinder
/ngrinder
build/classes
build/generated
build/resources
build/tmp
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
/src/main/resources/application.yml
ngrinder-controller-3.5.9-p1.war

/src/test/resources/application.yml
/application.yml

/src/main/resources/templates/secret/.p8

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache


bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml

out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###

.vscode/
