<configuration>
    <!-- base.xml 설정을 포함합니다 -->
    <include resource="org/springframework/boot/logging/logback/base.xml" />

    <!-- Logstash로 로그를 전송하는 Appender -->
    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>13.209.204.40:5000</destination>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <mdc />
                <pattern>
                    <pattern>{"serviceID":"myServiceName"}</pattern>
                </pattern>
                <timestamp />
                <context />
                <threadName />
                <logLevel />
                <message />
                <loggerName />
                <logstashMarkers />
                <stackTrace />
                <callerData />
            </providers>
        </encoder>
    </appender>

    <!-- kr.co.lsoft 패키지에 대한 로거 설정 -->
    <logger name="kr.co.lsoft" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="LOGSTASH" />
    </logger>

    <!-- 전역 로거 설정: INFO 레벨 이상의 로그만 기록 -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="LOGSTASH" />
    </root>
</configuration>
